BOT_TOKEN=
BOT_USERNAME=
ADMIN_IDS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=configflow
DB_USER=root
DB_PASS=
TETRAPAY_CREATE_URL=https://tetra98.com/api/create_order
TETRAPAY_VERIFY_URL=https://tetra98.com/api/verify
